@charset "utf-8";
/*============================================================================================*/
/* 3.  PLUS */
/* 3.1 megamenu */
/* 3.2 thumbnail */
/* 3.3 carousel */
/* 3.4 social */
/*============================================================================================*/
/* Fonts */
@import url('fonts.css');

/********** 3.1 megamenu */
.megamenu .nav,
.megamenu .collapse,
.megamenu .dropup,
.megamenu .dropdown {
  position: static;
}
.megamenu .container {
  position: relative;
}
.megamenu .dropdown-menu {
  left: auto;
}
.megamenu .fullmenu{
  left: 0;
}
.megamenu .megamenu-content {
  padding: 20px 30px;
}
.megamenu .dropdown.megamenu-fw .dropdown-menu {
  left: 0;
  right: 0;
}
@media (max-width: 767px) { 
.megamenu .navbar-brand{
	height:auto;
	margin-top:-15px;
	}
}
.megamenu-content .nav-tabs>li{
	float:none;	
	}
	
.megamenu-content .nav-tabs>li.active>a:after{
	border:none;
	}
	
.megamenu-content .nav-tabs{
	border-bottom:none;	
	margin:0;
	}
	
.megamenu-content .content-scroll{
	height:400px;
	overflow-y:scroll;
	margin-bottom:30px;
	padding-right:15px;
	}

/********** 3.2 thumbnail */
/* Imagebox Styles */

.thumbnail{
	background-color:#FFFFFF;
	border-bottom:1px solid #efefef;
	border-top:none;
	border-right:none;
	border-left:none;
    border-radius: 0px;
    box-shadow: none;
    display: block;
    -moz-border-radius: 0px;
    -moz-box-shadow: none;
    -moz-transition: all 0.2s ease-in-out;
    o-transition: all 0.2s ease-in-out;
    padding: 0px;
    transition: all 0.2s ease-in-out;
    -webkit-border-radius: 0px;
    -webkit-box-shadow: none;
    -webkit-transition: all 0.2s ease-in-out;
	position:relative;
	z-index:1;
	}
	
.image-container{
	border: none;
    cursor: pointer;
    position: relative;
    width: 100%;
	}
	
.image-container i{
	background:#FF0000;
	width:100px; height:100%;
	position:absolute;
	z-index:2;
	top:0; left:0;
	text-align:center;
	color:#FFF;
	font-size:24px;
	padding-top:30%;
	}
	
.thumbnail:hover .image-container i{
	background:rgba(255,0,0,0.70);
	width:100%;
	}
	
/*
haber thumb tasarımı.
*/

.thumbnail .desc{
	background-color:#FFFFFF;
	padding:15px;
	position:relative;
	z-index:2;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	}

.thumbnail .desc h1, .thumbnail .desc h2, thumbnail .desc h3, .thumbnail .desc h4, .thumbnail .desc h5, .thumbnail .desc h6{
	margin:10px 0;
	}

.thumbnail .desc h1 a, .thumbnail .desc h2 a, .thumbnail .desc h3 a, .thumbnail .desc h4 a, .thumbnail .desc h5 a, .thumbnail .desc h6 a{
	color:#313131;
	display:block;
	font-weight:300;
	letter-spacing:1px;
	}
	
.thumbnail:hover .desc h3 a{
	color:#373737;
	}
	
.thumbnail .desc p{
	color:#556c80;
	margin:15px 0 30px 0;
	font-size:14px;
	line-height:26px;
	}
	
.thumbnail .desc .categories{
	margin:0;	
	}

.thumbnail .desc .categories a{
	color:#dddddd;
	font-weight:400;
	}
	
.thumbnail .desc .categories a:hover{
	color:#dddddd;	
	}

.thumbnail .desc .categories a:after {
	color:#d7d7d7;
    content: ' /';
	}

.thumbnail .desc .categories a:last-child:after {
    content: '';
}

.thumbnail .desc .date a{
	color:#dddddd;
	font-weight:400;
	font-size:12px;
	}
	
.thumbnail .desc .date{
	margin:15px 0;
	position:relative;
	}
	
.thumbnail .desc .date:after{
	content: '';
    position: absolute;
    display: inline-block;
    width: 45px;
    height: 1px;
    background-color: #ddd;
    top: 11px; left:90px;
	}
	
.thumbnail .desc .bottom{
	padding-bottom:40px;
	position:relative;	
	}
	
.thumbnail .desc .bottom .left{
	position:relative;
	width:50%;
	float:left;
	}
	
.thumbnail .desc .bottom .right{
	position:relative;
	width:50%;
	text-align:right;	
	float:right;
	}
	
.thumbnail .desc .bottom .right a{
	color:#dddddd;
	padding:10px 5px;
	}
	
.thumbnail .desc .bottom .right .share-list{
	background-color:#efefef;
	border:1px solid #FF0000;
	position:absolute;
	bottom:0;
	right:-5px;
	width:34px;
	height:34px;
	opacity:0;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	}
	
.thumbnail .desc .bottom .right .share-list:hover{
	height:96px;
	opacity:1;
	}

.thumbnail .desc .bottom .right .share-list ul{
	margin:0;
	padding:0;	
	}

.thumbnail .desc .bottom .right .share-list ul li{
	background-color:#FF0000;
	list-style-type:none;
	margin:1px;
	text-align:center;
	width:30px;
	height:30px;
	}
	
.thumbnail .desc .bottom .right .share-list ul li:hover{
	background-color:#C51215;
	}
	
.thumbnail .desc .bottom .right .share-list ul li a{
	color:#FFFFFF;
	line-height:30px;
	}
	
/*
style blog alttaki div icerisinde olursa mansory olur.
*/

.masonry-list .row {
 -moz-column-width: 320px;
 -webkit-column-width: 320px;
 -moz-column-gap: 15px;
 -webkit-column-gap:15px; 
  
}

.masonry-list .row > .col-sm-4 {
 display: inline-block;
 padding: 0;
 margin: 0;
 width:  100%; 
 float:none;
}

/********** 3.3 carousel */

/* Carousel manset */

#manset .item blockquote {
    border-left: none;
    margin: 0;
	padding:0;
}

#manset .item blockquote .sub-title{
	color:#FFF;
	font-family: 'Roboto Condensed', sans-serif;
	font-size:36px;
	font-weight:700;
	height:100px;
	margin:-100px 0 0 30px;	
	text-shadow: 1px 1px #000;
	}

	
#manset .carousel-indicators{
	background-color:#95a5a6;
	display:none;
	left:0;
	bottom:-10px;
	margin-left:0;
	width:100%;	
	}
	
#manset .carousel-indicators li{
	width:10%;
	border:none;
	border-radius:0;
	border-right:1px solid #FFF;
	color:#FFF;
	margin:0;
	margin-right:-4px;
	padding:5px 0;
	text-align:center;
	text-indent:0;
	height:auto;
	}

.carousel-indicators .active{
	background-color:#7f8c8d;
	}

#manset ol li:last-child {
	border:none;
}

.carousel-control.left, .carousel-control.right{
	background-color:#95a5a6;
	background-image:none;
	font-size:18px;
	line-height:40px;
	width:40px; height:40px;
	text-align:center;
	text-shadow:none;
	top:50%; margin-top:-20px;
	opacity:1;
	}

.carousel-control.left:hover, .carousel-control.right:hover{
	background-color:#7f8c8d;
	}
	
/**/

/* slide bolumu carousel numarasız alanlarda kullanmak icin */
.quote-carousel 
{

}

.quote-carousel .carousel-control{
	left:auto;
	opacity:1;	
	}

/* Control buttons */
.quote-carousel  .carousel-control
{
  background:#3498db;
  color: #FFF;
  font-size: 14px;
  text-shadow: none;
  width:40px; height:40px;
  text-align:center;
  line-height:40px;
}
@media (max-width: 768px){
.quote-carousel  .carousel-control{
	display:none;
}
}
/* Control buttons bir */
/* Previous button  */
#slide-bir .carousel-control.left 
{
  left: 50% !important;
  margin-left:-41px;
  top:230px;
}
/* Next button  */
#slide-bir  .carousel-control.right 
{
  right: 50% !important;
  margin-right:-41px;
  top:230px;
}

/* Control buttons iki */
/* Previous button  */
#slide-iki .carousel-control.left 
{
  left: 50% !important;
  margin-left:-41px;
  top:130px;
}
/* Next button  */
#slide-iki  .carousel-control.right 
{
  right: 50% !important;
  margin-right:-41px;
  top:130px;
}

/* Changes the position of the indicators */
.quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
.quote-carousel .carousel-indicators li 
{
  background: #FFF;
}
.quote-carousel .carousel-indicators .active 
{
  background: none;
}
/* End carousel */

@media (max-width: 768px) { 
    .quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    .quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    .quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}

/**/

/* urunler bolumu carousel */
#product-carousel 
{
  padding: 0 10px 30px 10px;
}

/* Control buttons  */
#product-carousel .carousel-control
{
  background: none;
  color: #000;
  font-size: 14px;
  text-shadow: none;
  margin-top: 30px;
  width:48px; height:48px;
  border-radius:50%;
  border:1px solid #000;
  text-align:center;
  line-height:48px;
}
/* Previous button  */
#product-carousel .carousel-control.left 
{
  left: -12px;
  top:50%;
  margin-top:-20px;
}
/* Next button  */
#product-carousel .carousel-control.right 
{
  right: -12px !important;
   top:50%;
  margin-top:-20px;
}
/* Changes the position of the indicators */
#product-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: -20px;
  margin-right: -19px;
  margin-bottom:20px;
}
/* Changes the color of the indicators */
#product-carousel .carousel-indicators li 
{
  background: #000;
}
#product-carousel .carousel-indicators .active 
{
  background: none;
  border:1px solid #000;
}
/* End carousel */

#product-carousel .item blockquote {
    border-left: none;
	color:#000;
    margin: 0;
	text-align:center;
}

#product-carousel .item blockquote small {
	color:#000;
}

#product-carousel .item blockquote img {
	width:48px;
	height:auto;
    margin-bottom: 10px;
}

@media (min-width: 768px) { 
    #product-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }
    
}

@media (max-width: 768px) { 
    #product-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #product-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #product-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}

/********** 3.4 social */

.social-share{
	width:60px;
	position:fixed;
	top:300px;left:0;	
	}
	
.social-share div{
	width:10px;
	opacity:0;
	overflow:hidden;
	}
	
.social-share:hover div{
	width:80px;
	opacity:1;
	}
	
@media (max-width: 767px) { 
.social-share{
	display:none;
	}
}
	
.social-share i{
	color:#FFF;
	cursor:pointer;	
	font-size:14px;
	width:40px;
	height:40px;
	line-height:40px !important;
	text-align:center;	
	}
	
.social-share i:hover{
	width:60px;
	}
	
.social-share .fa-share-alt{
	background-color:#009ccc;	
	}

.social-share:hover .fa-share-alt{
	width:60px;	
	}
	
.social-share .fa-facebook{
	background-color:#3b5997;	
	}
		
.social-share .fa-twitter{
	background-color:#55aced;	
	}
	
.social-share .fa-google-plus{
	background-color:#4285f3;	
	}

.social-share .fa-print{
	background-color:#95a5a6;
	}